<main>
  <h1><%= vehicle.inv_make %>, <%= vehicle.inv_model %></h1>

  <div class="vehicle-detail">
    <img
      src="<%= vehicle.inv_image %>"
      alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>"
    />
    <div class="vehicle-info">
      <p>
        <strong>Price:</strong>
        $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %>
      </p>
      <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
      <p><strong>Year:</strong> <%= vehicle.inv_year %></p>
      <p>
        <strong>Mileage:</strong>
        <%= new Intl.NumberFormat('en-US').format(vehicle.inv_miles) %> miles
      </p>
      <p><strong>Color:</strong> <%= vehicle.inv_color %></p>
    </div>
  </div>
  <div class="button-container">
    <a href="/inv/type/<%= vehicle.classification_id %>" class="button"
      >Back to Inventory</a
    >
    <a href="/inv/edit/<%= vehicle.inv_id %>" class="button"
      >Update Inventory</a
    >
  </div>
</main>
